$white: #ffffff;

$theme-colors: (
    "light":      #f5f1d5,
    "dark":       #421b46,
    "primary":    #d83c24,
    "secondary":  #513a78,
    "info":       #1b8f98,
    "success":    #579b0d,
    "warning":    #ffbc5b,
    "danger":     #ed0663,
);

// Importa Bootstrap
@import "bootstrap/bootstrap";


// $white: #ffffff;

// $theme-colors: (
//     "light":      #f5decd,
//     "dark":       #00072e,
//     "primary":    #e01039,
//     "secondary":  #085a6e,
//     "info":       #0b8776,
//     "success":    #599b05,
//     "warning":    #ffbc5e,
//     "danger":     #ed0264,
// );