$white: #ffffff;

$primary: #a82e1b;
$secondary: #513a78;

// Modifiche ai colori per la paginazione
$pagination-border-color: $primary;
$pagination-hover-border-color: $primary;
$pagination-active-border-color: $primary;
$pagination-disabled-border-color:  $primary;

// Modifiche ai colori per il navbar
$navbar-dark-color: rgba($white, 0.8);

$theme-colors: (
    "light":      #f5f1d5,
    "dark":       #421b46,
    "primary":    #a82e1b,
    "secondary":  #513a78,
    "info":       #1b8f98,
    "success":    #147e1d,
    "warning":    #ffbc5b,
    "danger":     #b5004b,
);

// Importa Bootstrap
@import "bootstrap/bootstrap";
